<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>名称拼接案例 keyup监听</title>
    <script src="vue.js"></script>

</head>
<body>
<div id="app">
    <!-- 监听文本框数据的改变：原生DOM -->

    <input type="text" v-model="firstname" @keyup="getFullname" >+
    <input type="text" v-model="lastname" @keyup="getFullname">=
    <input type="text" v-model="fullname">

</div>

<script>

    var vm=new Vue({
        el:'#app',
        data:{
            firstname:'',
            lastname:'',
            fullname:''
        },
        methods:{
            getFullname(){
                this.fullname =this.firstname+'-'+this.lastname
            }
        }
    })
</script>
</body>
</html>